<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Tech Talk!!!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../../assets/css/styles.css">
    {{!-- <link href="../../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon"> --}}
  </head>
  <body>
    <ul class="nav nav-tabs navbar-fixed-top">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="/scrape">Scrape More</a></li>
      {{!-- <li role="presentation"><a href="#">Messages</a></li> --}}
    </ul>
    <main>
      <div class="container">
        <ul>
          <li>Welcome to your daily spoon of Tech Crunch!</li>
          <li>You can view news article which is scrape from the web and add your own comment as well as delete them.</li>
        </ul>
      </div>
      <div class="container">
        <!-- Content from index.handlebars -->
          {{{body}}}
      </div>
    </main>
    <footer>All article data was scraped from <a href="https://techcrunch.com/">www.techcrunch.com/</a></footer>
  
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </body>
</html>
